---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Journal articles</h2>
<ul>
  <li>
    <a href="/publications/2023_jbee">
      <b>Anchoring on valuations and perceived informativeness</b></a>. 
      <i>Journal of Behavioral and Experimental Economics</i>, <b>2023</b>
  </li>
  <li>
    <a href="/publications/2022_aler">
      <b>Lie detection: A strategic analysis of the verifiability approach</b></a>. 
      <i>American Law and Economics Review</i>, <b>2022</b> 
      (with Offerman T. & Sloof R.)
  </li>
  <li>
    <a href="/publications/2020_jesa">
      <b>On the effect of anchoring on valuations when the anchor is transparently uninformative</b></a>.
      <i>Journal of the Economic Science Association</i>, <b>2020</b>
      (with Offerman T. & Sloof R.)
  </li>
</ul>

<h2>Conference proceedings</h2>
<ul>
  <li>
    <a href="/publications/2024_weis">
    <b>Breaking the ice: Using transparency to overcome the cold start problem in an underground market</b></a>. 
    <i>Workshop on the Economics of Information Security</i>, <b>2024</b>
    (with Marjanov, T., Hyndman, T., Seyedzadeh, N., Hutchings, A.)
  </li>
</ul>

<h2>Consortium articles</h2>
<ul>
  <li>
    <a href="/publications/2023_obhdp">
      <b>On the trajectory of discrimination: A meta-analysis and forecasting survey capturing 44 years of field experiments on gender and hiring decisions</b></a>. 
      <i>Organizational Behavior and Human Decision Processes</i>, <b>2023</b>
      (as part of the Gender Audits Forecasting Collaboration)
  </li>
  <li>
    <a href="/publications/2023_pnas">
      <b>Competition and moral behavior: A meta-analysis of forty-five crowd-sourced experimental designs</b></a>. 
      <i>Proceedings of the National Academy of Sciences</i>, <b>2023</b>
      (as part of the ManyDesigns Team)
  </li>
  <li>
    <a href="/publications/2022_jopd">
      <b>The open anchoring quest dataset: Anchored estimates from 96 studies on anchoring effects</b></a>. 
      <i>Journal of Open Psychology Data</i>, <b>2022</b>
      (as part of the Open Anchoring Consortium)
  </li>
</ul>

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



