---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% assign categories = site.publication_category %}

{% for category in categories %}

{% assign papers = site.publications | where: "category", category[0] | sort: "date" | reverse %}

{% if papers.size > 0 %}

  <h2>{{ category[1].title }}</h2>

  <ul>
  {% for post in papers %}
  <li>
    <a href="{{ post.permalink | default: post.url }}"><b>{{ post.title }}</b></a><br>
    {% if post.venue %}<i>{{ post.venue }}</i>, {% endif %}
    {% if post.date %}<b>{{ post.date | date: "%Y" }}</b>{% endif %}

    {% if post.coauthors != nil and post.coauthors != "" %}
      <br>
      {% if category[0] == "consortium" %}
        (as part of the {{ post.coauthors }})
      {% else %}
        (with {{ post.coauthors }})
      {% endif %}
    {% endif %}

    {% if post.paperurl %}
      <a href="{{ post.paperurl }}" target="_blank" class="btn">{{ site.data.ui-text[site.locale].pdf_link_label | default: "PDF" }}</a>
    {% endif %}
  </li>
  {% endfor %}
  </ul>

{% endif %}
{% endfor %}