---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<h2>Journal articles</h2>
<ul>

{% assign journals = site.publications | where: "category", "journals" | sort: "date" | reverse %}

{% for post in journals %}

<li>

  <a href="{{post.permalink}}">
      <b>{{ post.title }}</b>
  </a>
  <i>{{ post.venue }}</i>, <b>{{ post.date | date: "%Y" }}</b>

  {% if post.coauthors != "" %}
  <br>
  (with {{ post.coauthors }})
  {% endif %}

  {% if post.paperurl %}
      <a href="{{ post.paperurl }}" target="_blank" class="btn">{{ site.data.ui-text[site.locale].pdf_link_label | default: "PDF" }}
      </a>
  {% endif %}

</li>

{% endfor %}

</ul>


<h2>Conference proceedings</h2>
<ul>

{% assign conferences = site.publications | where: "category", "conferences" | sort: "date" | reverse %}

{% for post in conferences %}

<li>

  <a href="{{post.permalink}}">
      <b>{{ post.title }}</b>
  </a>
  <i>{{ post.venue }}</i>, <b>{{ post.date | date: "%Y" }}</b>

  {% if post.coauthors != "" %}
  <br>
  (with {{ post.coauthors }})
  {% endif %}

  {% if post.paperurl %}
      <a href="{{ post.paperurl }}" target="_blank" class="btn">{{ site.data.ui-text[site.locale].pdf_link_label | default: "PDF" }}
      </a>
  {% endif %}

</li>

{% endfor %}

</ul>


<h2>Consortium articles</h2>
<ul>

{% assign consortium = site.publications | where: "category", "consortium" | sort: "date" | reverse %}

{% for post in consortium %}

<li>

  <a href="{{post.permalink}}">
      <b>{{ post.title }}</b>
  </a>
  <i>{{ post.venue }}</i>, <b>{{ post.date | date: "%Y" }}</b>

  {% if post.coauthors != "" %}
  <br>
  (as part of the {{ post.coauthors }})
  {% endif %}

  {% if post.paperurl %}
      <a href="{{ post.paperurl }}" target="_blank" class="btn">{{ site.data.ui-text[site.locale].pdf_link_label | default: "PDF" }}
      </a>
  {% endif %}

</li>

{% endfor %}

</ul>
