---
layout: archive
title: "Talks"
permalink: /talks/
author_profile: true
---

{% assign categories = site.talk_category %}

{% for category in categories %}

  {% assign talks = site.talks | where: "category", category[0] | sort: "date" | reverse %}

  {% if talks.size > 0 %}

    <h2>{{ category[1].title }} ({{ talks.size }})</h2>

    <ul>
    {% for post in talks %}
      <li>
        <i>{{ post.title | strip_html }}</i>
        ({{ post.location | split: "," | first }}, {{ post.date | date: "%Y" }})
      </li>
    {% endfor %}
    </ul>

  {% endif %}

{% endfor %}