---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---


{% assign talks_by_year = site.talks | group_by_exp:"talk","talk.date | date: '%Y'" | sort: "name" | reverse %}
<ul>
  {% for year in talks_by_year %}
    <li>
      <strong>{{ year.name }}</strong>
      <ul>
        {% assign sorted_talks = year.items | sort: "date" | reverse %}
        {% for post in sorted_talks %}
          <li>
            <em>{{ post.title }}</em>, {{ post.location_name }}, {{ post.date | date: "%B %-d" }}
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>
