---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

Click on any course to see more information about the syllabus, and teaching evaluations.

<h2>Graduate courses</h2>
<ul>
  <li>University of Birmingham (2022-2023)</li>
  <ul>
    <li><a href="/teaching/2022_uob_micro">Microeconomics</a></li>
  </ul>
  <li>University of the Aegean (2019-2020)</li>
  <ul>
    <li><a href="/teaching/2020_aegean_game">Game Theory</a></li>
  </ul>
  <li>Tinbergen Institute (2016-2017)</li>
  <ul>
    <li><a href="/teaching/2017_ti_statistics">Statistics</a></li>
  </ul>
</ul>

<h2>Undergraduate courses</h2>
<ul>
  <li>University of Cambridge (2023-2025)</li>
  <ul>
    <li><a href="/teaching/2024_cam_ele">Economics, Law and Ethics</a></li>
    <li><a href="/teaching/2024_cam_eta">General Equilibrium Theory</a></li>
    <li><a href="/teaching/2024_cam_stats">Mathematics and Statistics for Economists</a></li>
  </ul>
  <li>University of Amsterdam (2017-2021)</li>
  <ul>
    <li><a href="/teaching/2021_uva_organizational">Organizational Economics</a></li>
    <li><a href="/teaching/2020_uva_emo">Economics of Markets and Organizations</a></li>
  </ul>
  <li>University of the Aegean (2013-2015)</li>
  <ul>
    <li><a href="/teaching/2015_aegean_spss">Statistical Software and Data Analysis</a></li>
    <li><a href="/teaching/2014_aegean_statistics">Statistics I - Estimation Methods</a></li>
    <li><a href="/teaching/2014_aegean_econometrics">Econometrics</a></li>
    <li><a href="/teaching/2014_aegean_categorical">Categorical Data Analysis</a></li>
  </ul>
</ul>

<h2>Thesis supervision</h2>
<ul>
  <li>University of Birmingham (2021-2023)</li>
  <ul>
    <li>5 Bachelor theses</li>
    <li>5 Master theses</li>
  </ul>
  <li>University of Amsterdam (2017-2022)</li>
  <ul>
    <li>22 Bachelor theses</li>
  </ul>
</ul>

<h2>(Biased selection of) student evaluation comments</h2>
<ul>
  <li>
    "Honestly this was the best seminar I ever joined.
    The atmosphere was very friendly and entertaining, but also the teaching was quick enough to not be boring.
    I smiled & laughed a lot and I'm actually convinced it's the first course I would have visited voluntarily even if I did not have to.
    Also when you said it felt lonely in quarantine I kind of realized that on lonely days for me your entertainment made it go away,
    so thanks for the teaching but even more for the company! You're awesome!"
  </li>
  <li>
    "I just want to say we are so lucky to have you as our teacher!
    I believe it would be so lucky for your future students to have you as their teacher as well!
    I really hope you would continue to become a professor one day so that more students can enjoy your teaching.
    You are just so excellent and talented in teaching.
    You made everything so clear and much easier to understand.
    Thank you for all the efforts in saving our microeconomics."
  </li>
  <li>
    "I want to thank you for the really great help the past few days in finishing my thesis, I was on the brink of giving up.
    No matter the outcome, when this is all done, I'm buying you a beer."
  </li>
</ul>


<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
