---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

Click on any course to see more information about the syllabus, and teaching evaluations.

<h2>Graduate courses</h2>
<ul>
  <li>University of Birmingham</li>
  <ul>
    <li><a href="/teaching/2022_uob_micro">Microeconomics</a></li>
  </ul>
  <li>University of the Aegean</li>
  <ul>
    <li><a href="/teaching/2020_aegean_game">Game Theory</a></li>
  </ul>
  <li>Tinbergen Institute</li>
  <ul>
    <li><a href="/teaching/2017_ti_statistics">Statistics</a></li>
  </ul>
</ul>

<h2>Undergraduate courses</h2>
<ul>
  <li>University of Cambridge</li>
  <ul>
    <li><a href="/teaching/2024_cam_ele">Economics, Law and Ethics</a></li>
    <li><a href="/teaching/2024_cam_eta">General Equilibrium Theory</a></li>
    <li><a href="/teaching/2024_cam_stats">Mathematics and Statistics for Economists</a></li>
  </ul>
  <li>University of Amsterdam</li>
  <ul>
    <li><a href="/teaching/2021_uva_organizational">Organizational Economics</a></li>
    <li><a href="/teaching/2020_uva_emo">Economics of Markets and Organizations</a></li>
  </ul>
  <li>University of the Aegean</li>
  <ul>
    <li><a href="/teaching/2015_aegean_spss">Statistical Software and Data Analysis</a></li>
    <li><a href="/teaching/2014_aegean_statistics">Statistics I - Estimation Methods</a></li>
    <li><a href="/teaching/2014_aegean_econometrics">Econometrics</a></li>
    <li><a href="/teaching/2014_aegean_categorical">Categorical Data Analysis</a></li>
  </ul>
</ul>

<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
